
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(black, rgb(12, 12, 70), rgb(43, 8, 43));
    color: white;
    overflow-x: hidden;
}
@font-face {
    font-family: "MonkeyIsland1";
    src: url(sfomi/fonts/Monkey1.ttf);
}

.main__titulo {
    margin-top: 4rem;
    margin-bottom: 3rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    color: rgb(80, 32, 168);
}

.header__nav__lista {
    list-style: none;
    display: inline;
}
.carousel-item img {
    height: 350px;
}

.main__contenido__index {
    font-family: MonkeyIsland1;
    margin: 1.5rem 1.5rem;
    font-size: 0.8rem;
}

.main__contenido__intro {
    font-family: MonkeyIsland1;
    margin-left: 0.3rem;
    margin-right: 1rem;
}

*/   footer  */

.row {
    margin: 1rem 1rem;
}

#footer {
    margin-top: 0.5rem;
    padding: 0.8rem;
    border-top: 2px solid rgb(7, 143, 221);
}

.card {
    margin: 1.5rem 1.5rem;
    height: 30rem;
    width: 30rem;
    overflow: hidden;
}

.card a img {
    height: 25rem;
    overflow: hidden;
}
